.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section:first-of-type {
  h1 {
    margin: 0;
  }
  p:first-child {
    margin: 0.25rem 0;
  }
}

button {
  margin-bottom: 0.5rem;
}
