.container {
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #aaa2;
    span {
      width: 100%;
      max-width: 400px;
    }
    form {
      display: flex;
      flex-direction: column;
    }
  }

  p {
    font-size: 0.8rem;
    // color: #888;
    text-decoration: none;
    margin-top: 0.8rem;
    transition: 0.2s ease-in-out;
    &:hover {
      // color: #000;
    }
    cursor: pointer;
  }
}
